html, body {
    width: 100%;
    height: auto;
}

.btn-primary {
    min-width: auto; /* Set min-width to auto to allow the button to resize based on its content */
    margin-bottom: 10px;
    margin-right: 5px;
}

.square-div {
    width: 100%;
    float: left;
    padding: 10px;
    background-color: #c8e6c9;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}

