@page
@model VyrokovaLogikaPraceWeb.Pages.FillTreeModel
@{
}

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <script src="~/js/FillTruthTree.js"></script>
</head>
<body>
    <div class="col-md-10">
        <div class="text-center">
            <h3 class="display-7">Vytvoř pravdivostní strom</h3>
            <p>Pokud je v uzlu spor, tak vždy jako pravdivostní hodnotu uvádějte tu, kterou má uzel pro své potomky.</p>
            <form method="post" asp-action="Index" asp-controller="Home" id="formulaForm" class="d-flex flex-column">
                <div class="d-flex">
                    @Html.DropDownList("formula", Model.ListItems, new { @class = "form-control custom-font", @style = "height: 66.67%;" })
                    @Html.TextBox("UserInput", Model.YourFormula, new { @maxlength = "64", @class = "form-control ml-2 custom-font", @style = "height: 66.67%;" })


                    <div class="btn-toolbar ml-2 flex-fill" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group flex-fill" role="group" aria-label="First group">
                            <button id="drawTree" class="btn btn-primary flex-fill mb-2 mr-1"> Vykresli strom</button>
                        </div>

                    </div>
                </div>
            </form>

                <div id='formule'></div>
                <div id='treeDiv'> </div>
                <div id='message'> </div>
                <div id='errors'> </div>
            <div class="row">

                <div class="col-md-8" id='selectListGroup'>             </div>
                <div class="col-md-4" id='buttons'></div>

             

            </div>
                <div id='Errors'></div>
              
        </div>
    </div>
</body>
