@page
@model VyrokovaLogikaPraceWeb.Pages.SyntacticTreeModel
@{
}

<head>
    <title>My Page</title>
</head>
<body>
            <div class="col-md-10">
                <div class="text-center">
                    <h3 class="display-7">Strom výrokové logiky</h3>
            <div>
                <p>Zde si můžete vybrat zdali chcete vytvořit vlastní strom, který lze následně převést na formuli, nebo určit pravdivost formule, případně vykreslit strom již uložené formule.</p>
            </div>
                    <form method="post" asp-action="SyntacticTree" asp-controller="Home" id="TheForm" class="d-flex flex-column">
                             <div class="btn-toolbar ml-2 flex-fill justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                                    <a asp-page="./CreateTree">
                                        <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vytvoř strom" />
                                    </a>
                                  <a asp-page="./DrawTree">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vykresli strom" />
                                    </a>
                                <a asp-page="./TruthTree">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vykresli pravdivostní strom" />
                                </a>
                                <a asp-page="./FillTree">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vytvoř pravdivostní strom" />
                                </a>
                                </div>
                    </form>
                </div>
        </div>
        </div>
</body>
