@page
@model VyrokovaLogikaPraceWeb.Pages.DAGModel
@{
}

<head>
    <title>My Page</title>
</head>
<body>
    <div class="col-md-10">
        <div class="text-center">
            <h3 class="display-7">DAG</h3>
            <div>
                <p> Zde lze převést strom na acyklický graf.</p>
            </div>
            <form method="post" asp-action="SyntacticTree" asp-controller="Home" id="TheForm" class="d-flex flex-column">
                <div class="btn-toolbar ml-2 flex-fill justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                    <a asp-page="./DrawDAG">
                        <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vykresli DAG" />
                    </a>
                    <a asp-page="./DagTruth">
                        <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vykresli DAG s pravdivostními hodnoty" />
                    </a>
                    <a asp-page="./CreateDAG">
                        <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Vytvoř DAG" />
                    </a>
                </div>
            </form>
        </div>
    </div>
    </div>
</body>