@page
@model VyrokovaLogikaPraceWeb.AddFormulaModel
@{
}

<head>
    <title>My Page</title>
    <script src="~/js/AddFormula.js"></script>
    <script src="~/js/InputValueTransform.js"></script>
</head>

<body>
    <div class="col-md-10">
        <div class="text-center">
            <h3 class="display-7">Úprava formulí programu</h3>
            <p> Zde přidej novou formuli pro procvičování. </p>
            <form method="post" asp-controller="AddFormula" id="TheForm" class="d-flex flex-column">
                @Html.AntiForgeryToken()
                <div class="form-group mt-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group">
                                @Html.TextBox("FormulaInput", Model.Formula, new { @maxlength = "128", @class = "form-control custom-font"})
                                <input type='submit' id='pridejFormuliButton' class="btn btn-primary" value='Přidej novou formuli' name='submit' asp-page-handler="AddNewFormula" />
                                <div style="display: flex; gap: 5px; flex-grow: 1;">
                                    <button type="button" class="insert-button" style="background-color: #FF8C42; color: white;" data-text="∧">∧</button>
                                    <button type="button" class="insert-button" style="background-color: #FFA860; color: white;" data-text="∨">∨</button>
                                    <button type="button" class="insert-button" style="background-color: #FFBE7E; color: white;" data-text="≡">≡</button>
                                    <button type="button" class="insert-button" style="background-color: #FFD399; color: white;" data-text="¬">¬</button>
                                    <button type="button" class="insert-button" style="background-color: #FFEBB7; color: black;" data-text="⇒">⇒</button>
                                    <button type="button" class="insert-button" style="background-color: #FFEED0; color: black;" data-text="¬¬">¬¬</button>
                                    <button type="button" class="insert-button" style="background-color: #E4E4E4; color: black;" data-text="x">x</button>
                                    <button type="button" class="insert-button" style="background-color: #CCCCCC; color: black;" data-text="y">y</button>
                                    <button type="button" class="insert-button" style="background-color: #AAAAAA; color: black;" data-text="z">z</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p> Zde odeber formuli pro procvičování. </p>
                        <div class="col-md-8">
                            @Html.DropDownList(
                            "MyFormulas",
                            Model.AllFormulas.Where(x => x != null),
                            new { @class = "form-control custom-font" }
                            )
                        </div>
                        <div class="col-md-4">
                            <div class="input-group-append">
                                <input type='submit' class="btn btn-primary" value='Odstraň formuli' name='submit' asp-page-handler="removeFormula" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            @if (Model.Errors != null && Model.Errors.Any())
            {
                <div class="container mt-4" id='errors'>
                    @foreach (var error in Model.Errors)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong>Chyba:</strong> @error
                        </div>
                    }
                </div>
            }
            </div>
            </div>
</body>