@page
@model VyrokovaLogikaPraceWeb.Pages.CreateTreeModel
@{
}

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
    <script src="~/js/CreateTree.js"></script>
</head>
<body>
            <div class="col-md-10">
                <div class="text-center">
                    <h3 class="display-7">Výroková  logika</h3>             
                    @if (Model.Valid)
                    {
                            <div style="display: flex; gap: 5px;">
                                <div style="display: flex; gap: 5px;">
                                    @Html.TextBox("TreeInput", Model.Input, new { @maxlength = "64", @class = "form-control ml-2 custom-font"})
                                </div>

                                <div style="display: flex; gap: 5px; flex-grow: 1;">
                                    <button type="button" class="insert-button" style="background-color:  #FF5733; color: white;" data-text="∧">∧</button>
                                    <button type="button" class="insert-button" style="background-color: #FF8C42; color: white;" data-text="∨">∨</button>
                                    <button type="button" class="insert-button" style="background-color: #FFAB60; color: white;" data-text="≡">≡</button>
                                    <button type="button" class="insert-button" style="background-color: #FFCA7D; color: white;" data-text="¬">¬</button>
                                    <button type="button" class="insert-button" style="background-color: #FFD699; color: black;" data-text="⇒">⇒</button>
                                    <button type="button" class="insert-button" style="background-color: #FFEBB7; color: black;" data-text="¬¬">¬¬</button>
                                </div>
                                <input type='submit' class="btn btn-primary flex-fill mb-2 " value='Změna textu' id='zmenaTextuButton' />
                                <input type='submit' class="btn btn-primary flex-fill mb-2 " value='Odstraň nodu' id='odstranNoduButton' />
                                <input type='submit' class="btn btn-primary flex-fill mb-2 " value='Přidej nodu' id='pridejNoduButton' />
                                <form method="post" id='formulaForm'>
                                <input type='submit' class="btn btn-primary flex-fill mb-2 mr-1" value='Vytvoř formuli' name='submit' id='vytvorFormuliButton'/>
                                </form>
                            </div>
                       
                            <div id="createdTree">

                            </div>
                            <div id="formula">
                            </div>
                       
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <h4 class="alert-heading">Nesprávná formule:</h4>
                            <ul>
                                @foreach (var error in Model.Errors)
                                {
                                    <li>@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
</body>
