@page
@model IndexModel
@{
    ViewData["Title"] = "Vyrokova logika";
}

<head>
    <title>My Page</title>
    <link rel="stylesheet" href="https://unpkg.com/treeflex/dist/css/treeflex.css">
</head>

<body>
            <div class="col-md-10">
                <div class="text-center">
                    <h3 class="display-7">Výroková  logika</h3>
                    <style>
                        .btn-group > input {
                            margin-right: 10px; /* Adjust this value to control the spacing between buttons */
                            margin-left: 10px; /* Adjust this value to control the spacing between buttons */
                            width: 200px; /* Set the width of the buttons */
                            height: 40px; /* Set the height of the buttons */
                        }
                    </style>

                        <div class="d-flex">
                            <div class="btn-toolbar ml-2 flex-fill" role="toolbar" aria-label="Toolbar with button groups">
                                <div class="btn-group flex-fill" role="group" aria-label="First group">

                                <a asp-page="/SyntacticTree">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Syntaktický strom" />
                                </a>
                                <a asp-page="/DAG">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="DAG" />
                                </a>
                                <a asp-page="/AddFormula">
                                    <input type="button" class="btn btn-primary flex-fill mb-2 mr-1" value="Přidej novou formuli" />
                                </a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
</body>