@page
@model IndexModel
@{
    ViewData["Title"] = "Vyrokova logika";
}

<head>
    <title>My Page</title>
</head>

<body>
            <div class="col-md-10">
                <div class="text-center">
                    <h3 class="display-7">Výroková  logika</h3>
                    <style>
                        .btn-group > input {
                            margin-right: 10px; /* Adjust this value to control the spacing between buttons */
                            margin-left: 10px; /* Adjust this value to control the spacing between buttons */
                            width: 200px; /* Set the width of the buttons */
                            height: 40px; /* Set the height of the buttons */
                        }
                    </style>
                    <div>
               <p> V této aplikaci pro práci s výrokovou logikou, lze vytvářet stromy a acyklické grafy z formulí výrokové logiky.</p>
               <p> Na stránce 'Editace formulí' můžete ukládat a mazat formule. </p>
               <p> Na stránkách 'Strom výrokové logiky' můžete vytvořit vlastní strom a převést jej na formuli, nebo naopak vykreslit strom z již uložené formule. 
                   Také můžete určit, zda je formule tautologíí nebo kontradikcí.
                    Na stránkách 'DAG' můžete převést strom na acyklický orientovaný graf (DAG), kde se jednotlivé uzly neopakují. Dále se dá vytvořit vlastní graf, který lze převést na formuli. Lze také určit zda je formule tautologii nebo kontradikci.
                </p>
                    </div>
                            <div class="btn-toolbar ml-2 flex-fill justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
                                <a asp-page="/Tree/SyntacticTree">
                                    <input type="button" class="btn btn-primary" value="Strom výrokové logiky" />
                                </a>
                                <a asp-page="/DAG/DAG">
                                    <input type="button" class="btn btn-primary" value="DAG" />
                                </a>
                                <a asp-page="/AddFormula">
                                    <input type="button" class="btn btn-primary flex-fill" value="Editace formulí"/>
                                </a>
                                <a asp-page="/Rules">
                                    <input type="button" class="btn btn-primary flex-fill" value="Nápověda" />
                                </a>
                        </div>
                </div>
            </div>
</body>