<!-- _CommonSidebar.cshtml -->
<div class="square-div">
    <p>
        Pro zápis logických spojek použij <br />
        <ul>
            <li>Konjunkce: (&amp;, &and;)</li>
            <li>Disjunkce: (|, &or;)</li>
            <li>Negace: (-, &not;)</li>
            <li>Implikace: (&gt;, &rarr;)</li>
            <li>Ekvivalence: (= , &equiv;)</li>
        </ul>
    </p>
</div>
<div class="square-div">
    <p>
        Pokud chceme dokázat tautologii nebo kontradikci, tak hledáme formule, které obsahují semantický spor.
        Semantický spor je, pokud narazíme na část, která by při pravdivé evaluaci zároveň nabývala hodnoty 0 i 1.
    </p>
</div>