<!-- _CommonSidebar.cshtml -->
<div class="square-div">
    <p>
        Pro zápis logických spojek použij <br />
        <ul>
            <li>Konjunkce: (&amp;, &and;)</li>
            <li>Disjunkce: (|, &or;)</li>
            <li>Negace: (-, &not;)</li>
            <li>Implikace: (&gt;, &rarr;)</li>
            <li>Ekvivalence: (= , &equiv;)</li>
        </ul>
    </p>
</div>
<div class="square-div">
    <p>
        Pokud chceme dokázat že formule není tautologii nebo kontradikci, tak hledáme ohodnocení formule, která neobsahuje semantický spor.
        Semantický spor je, pokud narazíme na uzel, který by zároveň nabýval hodnoty 1,0.
    </p>
</div>