<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VyrokovaLogikaPraceWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/VyrokovaLogikaPraceWeb.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/InteractiveMenu.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Výroková logika</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" asp-page="/Tree/SyntacticTree" id="syntacticTreeDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Strom výrokové logiky
                            </a>
                            <div class="dropdown-menu" aria-labelledby="syntacticTreeDropdown" id="syntacticTreeSubMenu">
                                <a class="dropdown-item" asp-area="" asp-page="/Tree/DrawTree">Vykresli strom</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Tree/CreateTree">Vytvoř strom</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Tree/TruthTree">Vykresli pravdivostní strom</a>
                                <a class="dropdown-item" asp-area="" asp-page="/Tree/FillTree">Vytvoř pravdivostní strom</a>
                                <!-- Add more submenu items as needed -->
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link text-dark dropdown-toggle" asp-page="/DAG/DAG" id="dagDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                DAG
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dagDropdown" id="dagSubMenu">
                                <a class="dropdown-item" asp-area="" asp-page="/DAG/DrawDAG">Vykresli DAG</a>
                                <a class="dropdown-item" asp-area="" asp-page="/DAG/DagTruth">Vykresli DAG s pravdivostními hodnoty</a>
                                <a class="dropdown-item" asp-area="" asp-page="/DAG/CreateDAG">Vytvoř DAG</a>
                                @*<a class="dropdown-item" asp-area="" asp-page="/DAG/DagTruthUser">Vytvoř pravdivostní DAG</a>*@
                            </div>
                            
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AddFormula">Editace formulí</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Rules">Nápověda</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto">
       
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-md-2">
                    @await Html.PartialAsync("_CommonSidebar")
                </div>
            @RenderBody()
        </main>
    </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Výroková logika - Jakub Pietrus
        </div>
    </footer>
</body>
</html>